@import '../static.scss';

.page-header{ 
    min-width: 800px;
    height: 120px;
    background-color: $color-main;
    color: white;
    padding: $padding-lg;
    font-size: 100px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-header__icon{ 
    height: 80px;
    margin: 0 $padding-lg;
    width: auto;
}

.page-sub-header{ 
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-bottom: $padding-lg;
}

.resume-download{
    color: $color-accent-1;
}